

body{

margin : 0;
display: flex;
justify-content: center;
align-items: center;

}

#gameCanvas{
    background-color: grey;
    display: flex;
    
}

.score{
    
    display: flex;
    color: white;
    gap: 60px;
    position: absolute;
    top: 20px;
    font-size: 48px;
    font-family: monospace;

}

.paddle{

    position: absolute;
    width: 1lh;
    height: 8lh;
    background-color: black;

}